:root {
    --background-color: #F5F3EF;
    --yellow: #FEBD2F;
    --card-backgroung: #FFFFFF;
}

a {
    text-decoration: none;
    color: black;
}

html,
body {
    width: 400px;
    margin-left: 35%;
    height: 2000px;

}

.container {
    width: 90%;
    background-color: var(--background-color);
}

.body-grid-container {
    grid-template-rows: repeat(6, 500px);
    background-color: var(--background-color);
    grid-template-areas: "card-1"
    "card-2"
    "card-3"
    "card-4"
    "card-5"
    "card-6";
}

.main-image {
    width: 100%;
}

.card-1 {
background-color: white;
border-radius: 20px;
}

.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
    background-color: white;
    display: grid;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 20px;
}



.card-1 {
    grid-area: card-1;
}
.card-2 {
    grid-area: card-2;
}
.card-3 {
    grid-area: card-3;
}
.card-4 {
    grid-area: card-4;
}
.card-5 {
    grid-area: card-5;
}
.card-6 {
    grid-area: card-6;
}

.button {
    border: solid lightgray 0.5px;
    width: 30%;
    border-radius: 10px;
    margin-bottom: 3%;
    margin-left: 3%;
}

.footer {
    background-color: var(--yellow);
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.footer-logo {
    height: 25px;
    width: auto;
}