html,
body {
  margin: 0;
  padding: 0;
  background-color: #F5F3EF;
}

h1 {
  font-weight: 500px;
  font-size: 64px;
  font-family: serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
}

header {
  height: 100px;
  width: 100%;
}

.nav {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.nav a:nth-child(2) {
  margin-right: 800px;
} 

.nav img:nth-child(3) {

}

.nav a:nth-child(4) {
  color: white;
  background-color: #000000;
  padding: 10px;
  border-radius: 15px;
}

.banner-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 20px;
  width: 75%;
}

.text-1 {
  margin-top: 40px;
  margin-bottom: 64px;
}

.text-2 {
  color: #646464;
  font-size: 24px;
}

.right-col {
  margin-left: 200px;
}



.card-container {
  margin-top: 100px;
  display: grid;
  grid-template: auto / repeat(3, 33%);
  grid-template-areas: "card-one card-two card-three"
                        "card-four card-five card-six";
gap: 80px 40px;
justify-items: center;
margin-top: 120px;
margin-bottom: 200px;
z-index: -1;

}

.card-1 {
  grid-area: card-one;
  background-color: #FEBD2F;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  text-align: left;
  padding: 40px;
  border-radius: 40px;
  height: 324px;
  width: 400px;
  font-size: 40px;
  font-weight: 500px;
}

.card-2 {
  grid-area: card-two;
}

.card-3 {
  grid-area: card-three;
}

.card-4 {
  grid-area: card-four;
}

.card-5 {
  grid-area: card-five;
}

.card-6 {
  grid-area: card-six;
}


.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  text-align: left;
  background-color: white;
  padding: 40px;
  border-radius: 40px;
  height: 324px;
  width: 400px;
}

.card-4,
.card-5,
.card-6 {
  margin-top: ;
}

.button {
  background-color: white;
  padding: 10px 25px;
  text-align: left;
  height: 30px;
  width: 80px;
  border-radius: 40px;
  border: 1px solid lightgray;
}

.heading-h3 {
  font-size: 24px;
  font-family: Roboto Serif;
}

.para {
 color: #646464;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;
}

.logo {
  margin-top: 20px;
}

.img-1 {
grid-area: img-1;
}

.img-2 {
grid-area: img-2;
}

.img-3 {
grid-area: img-3;
}

.img-4 {
grid-area: img-4;
}

.img-5 {
grid-area: img-5;
}

footer {
  background-color: #FEBD2F;
  height: 80px;
  width: 100%;
}

.symbol-container {
position: relative;
float: left;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5 {
position: absolute;
left: 80%;
bottom: 210%;
}