:root {
  --background-color: #F5F3EF;
  --yellow: #FEBD2F;
  --card-backgroung: #FFFFFF;
}

  


* {
  margin: 0;
  padding: 0;
}

html,
body {
  box-sizing: border-box;
  background-color: var(--background-color);
  height: 100%;
}

h1 {
  font-weight: 500px;
  font-size: 64px;
  font-family: serif;
}

a {
  text-decoration: none;
  color: black;
}

.container {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

header {
  grid-area: header;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-links{
  display: flex;
  gap:20px;
}

.nav a:nth-child(3) {
  color: white;
  background-color: #000000;
  padding: 10px;
  border-radius: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80px auto auto 80px;
  grid-template-areas: 
  "header header header"
  "banner banner banner";
}

.banner-grid-container{
  grid-area: banner;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:auto;
}

.left-banner{
  grid-column: 1/2;
}

.right-banner{
  grid-column: 2/-1;
}

.text-1 {
  margin-top: 40px;
  margin-bottom: 64px;
}

.text-2 {
  color: #646464;
  font-size: 24px;
}


.card-container {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  grid-template-areas: 
  "card-one card-two card-three"
  "card-four card-five card-six";
  gap: 80px 40px;
}

.card-1 {
  grid-area: card-one;
  background-color: var(--yellow);
  grid-template-rows: repeat(3, 1fr);
  padding: 40px;
  border-radius: 40px;
  font-size: 40px;
  font-weight: 500px;
  display: flex;
}

.card-2 {
  grid-area: card-two;
}

.card-3 {
  grid-area: card-three;
}

.card-4 {
  grid-area: card-four;
}

.card-5 {
  grid-area: card-five;
}

.card-6 {
  grid-area: card-six;
}


.card-2,
.card-3,
.card-4,
.card-5,
.card-6 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  text-align: left;
  background-color: white;
  padding: 40px;
  border-radius: 40px;
  height: 324px;
}

.button {
  background-color: white;
  padding: 10px 25px;
  text-align: center;
  height: 30px;
  width: 80px;
  border-radius: 40px;
  border: 1px solid lightgray;
}

.card1-text {
  font-size: 40px;
  font-weight: 500px;
}

.heading-h3 {
  font-size: 24px;
  font-family: Roboto Serif;
}

.para {
 color: #646464;
 font-size: 18px;
 font-weight: 400;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 20px;
}

.img-1 {
grid-area: img-1;
}

.img-2 {
grid-area: img-2;
}

.img-3 {
grid-area: img-3;
}

.img-4 {
grid-area: img-4;
}

.img-5 {
grid-area: img-5;
}


.symbol-container {
position: relative;
float: left;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5 {
position: absolute;
left: 80%;
bottom: 210%;
}

footer {
  height: 10%;
  background-color: var(--yellow);
  width: 100%;
  margin-top: 10%;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


@media screen and (max-width: 800px){
    .card-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas: 
      "card-one card-two" 
      "card-three card-four"
      "card-five card-six";
    }
    .banner-grid-container{
      grid-area: banner;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows:auto;
    }
    
    .left-banner{
      grid-column: 1;
    }
    
    .right-banner{
      grid-column: 1;
    }
}

@media screen and (max-width: 580px) {

  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 80px auto auto 80px;
    grid-template-areas: 
    "header"
    "banner";
  }

  .card-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    grid-template-areas: 
    "card-one" 
    "card-two" 
    "card-three"
    "card-four"
    "card-five"
    "card-six";
  }

  .banner-grid-container{
    grid-area: banner;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows:auto;
  }
  
  .left-banner{
    grid-column: 1;
  }
  
  .right-banner{
    grid-column: 1;
  }
  .nav-links {
    visibility: hidden;
  }

  .nav a:nth-child(3) {
    visibility: hidden;
  }

}

